@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &.sm {
    font: font.$text-sm-medium;
    padding: 8px 14px;
  }

  &.md {
    font: font.$text-sm-medium;
    padding: 10px 16px;
  }

  &.lg {
    font: font.$text-md-medium;
    padding: 10px 18px;
  }

  &.xl {
    font: font.$text-md-medium;
    padding: 12px 20px;
  }

  &.primary {
    &.default {
      color: #fff;
      background: #7f56d9;
      border-radius: 8px;
      border: 1px solid var(--primary-600, #7f56d9);
    }

    &.hover {
      color: #fff;
      background-color: color.$primary-700;
      border: 1px solid color.$primary-700;
      border-radius: 8px;
    }

    &.focused {
      color: #fff;
      border: 4px solid var(--primary-100, #f4ebff);
      background: #7f56d9;
      border-radius: 8px;
    }

    &.disabled {
      color: #fff;
      border-radius: 8px;
      background: #e9d7fe;
      cursor: default;
      background-color: color.$primary-600;
      box-shadow: none;
      opacity: 0.2;
    }
  }

  &.secondary {
    &.default {
      color: color.$primary-700;
      background-color: color.$primary-50;
      border-radius: 8px;
    }

    &.hover {
      color: color.$primary-700;
      background-color: color.$primary-100;
      border-radius: 8px;
    }

    &.focused {
      border-radius: 8px;
      color: var(--primary-700, #6941c6);
      background-color: #f9f5ff;
      box-shadow: 0 0 0 4px color.$primary-100;
    }

    &.disabled {
      cursor: default;
      color: color.$primary-300;
      background-color: color.$primary-25;
      border: 1px solid color.$primary-25;
      border-radius: 8px;
    }
  }

  &.gray {
    &.default {
      color: #344054;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid var(--primary-600, #d0d5dd);
    }

    &.hover {
      background-color: color.$gray-50;
      color: color.$gray-800;
      border-radius: 8px;
      border: 1px solid var(--primary-600, #d0d5dd);
    }

    &.focused {
      box-shadow: 0 0 0 4px color.$gray-100;
      border-radius: 8px;
      border: 1px solid var(--gray-300, #d0d5dd);
      background: var(--white, #fff);
    }

    &.disabled {
      cursor: default;
      color: color.$gray-300;
      border: 1px solid color.$gray-200;
      border-radius: 8px;
    }
  }

  &.empty {
    &.default {
      background-color: transparent;
      color: color.$primary-700;
    }

    &.hover {
      color: color.$primary-700;
      border-radius: 8px;
      background-color: color.$primary-50;
    }

    &.focused {
      color: color.$primary-700;
    }

    &.disabled {
      cursor: default;
      color: color.$gray-300;
      background-color: transparent;
    }
  }

  &.emptygray {
    &.default {
      color: color.$gray-500;
      background-color: transparent;
    }

    &.hover {
      background-color: color.$gray-50;
      color: color.$gray-600;
      border-radius: 8px;
    }

    &.focused {
      color: var(--gray-500, #667085);
    }

    &.disabled {
      cursor: default;
      color: color.$gray-300;
      background-color: transparent;
    }
  }

  &.error {
    &.default {
      color: #fff;
      background-color: color.$error-600;
      border: 1px solid color.$error-600;
      border-radius: 8px;
    }

    &.hover {
      color: #fff;
      background-color: color.$error-700;
      border: 1px solid color.$error-700;
      border-radius: 8px;
    }

    &.focused {
      color: #fff;
      box-shadow: 0 0 0 4px color.$error-100;
      border-radius: 8px;
      border: 1px solid var(--error-600, #d92d20);
      background: var(--error-600, #d92d20);
    }

    &.disabled {
      color: #fff;
      cursor: default;
      border-radius: 8px;
      background-color: color.$error-200;
      border: 1px solid color.$error-200;
    }
  }

  .icon {
    width: 20px;
    height: 20px;

    &.leading {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        order: -1;
      }
    }

    &.trailing {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        order: 1;
      }
    }

    &.only {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
